* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover,
body a:active,
body a:focus {
  text-decoration: none;
  color: inherit;
}


.icono-cart img {
  max-width: 100%;
  max-height: 100%
}

.body-index {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Divide el espacio vertical en 3 filas: navbar, contenido principal y footer */
  min-height: 100vh;
  /* Establece el tamaño mínimo del cuerpo para ocupar al menos el 100% del viewport vertical */
  background-image: url(../img/fondo.svg);
  background-position: center top;
  background-size: cover;
}

.body-shop {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Divide el espacio vertical en 3 filas: navbar, contenido principal y footer */
  min-height: 100vh;
  /* Establece el tamaño mínimo del cuerpo para ocupar al menos el 100% del viewport vertical */
  background-image: url(../img/fondo-shop.svg);
  background-position: center top;
  background-size: cover;
}

.body-nos {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Divide el espacio vertical en 3 filas: navbar, contenido principal y footer */
  min-height: 100vh;
  /* Establece el tamaño mínimo del cuerpo para ocupar al menos el 100% del viewport vertical */
  background-image: url(../img/fondo-nosotros.svg);
  background-position: center top;
  background-size: cover;
}

.body-contacto {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Divide el espacio vertical en 3 filas: navbar, contenido principal y footer */
  min-height: 100vh;
  /* Establece el tamaño mínimo del cuerpo para ocupar al menos el 100% del viewport vertical */
  background-image: url(../img/fondo-contacto.svg);
  background-position: center top;
  background-size: cover;
}

.body-carrito {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Divide el espacio vertical en 3 filas: navbar, contenido principal y footer */
  min-height: 100vh;
  /* Establece el tamaño mínimo del cuerpo para ocupar al menos el 100% del viewport vertical */
  background-image: url(../img/fondo-nosotros.svg);
  background-position: center top;
  background-size: cover;
}

main {
  height: 200vh;
  width: auto;
}

.main-index {
  background-image: url('../img/fnc.svg');
  background-repeat: no-repeat;
  background-position-x: 10vh;
  background-position-y: 14vh;
  /* margin-top: 19vw; */
}

.navbar-s {
  display: flex;
  justify-content: space-between;
  padding-left: 9.66%;
  padding-right: 9.66%;
  height: 89px;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  mix-blend-mode: overlay;
  background-image: url(../img/noise-navbar.svg);
}

.hamburguesa {
  display: none;
}

.hamburguesa:hover {
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 24px;
  line-height: 32px;
}


.logo-bolsa {
  color: #000000;
  max-width: 30%;
}

.logo {
  max-width: 50%;
}

.logo:hover {
  cursor: pointer;
}

.fnc {
  left: 10px;
  top: 10px;
  position: fixed;
}

#menu-toggle {
  display: none;
}

.dropdown-s {
  display: none;
  position: fixed;
  margin-top: 32vh;
  justify-content: center;
  background-color: #eb010100;
  border: 1px solid #0d02af00;
  z-index: 5;
}

.dropdown-button {
  display: none;
  position: fixed;
}


#menu-toggle:checked~.dropdown-s {
  display: block;
}

.img-logo-fnc {
  position: fixed;
  top: 140px;
  left: 50px;
  width: 40%;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  /*  position: fixed;
  min-width: 100%; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 89px;
  mix-blend-mode: overlay;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  opacity: 0.8;
}

.footer-container p {
  position: absolute;
  left: 90%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.135em;

  color: rgba(101, 100, 100, 0.925);

}

.links-footer {
  align-items: center;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
}





















/*SHOP*/

.horizontal-list {

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 70%;
  /*  width: 742px;
  height: 16px; */
  /*  left: 157px; */
  margin-left: 13%;
  margin-top: 140px;
  gap: 25px;
  justify-content: center;


}

.horizontal-list li {
  line-height: 0.1;
  margin-right: 10px;
  letter-spacing: 0.145em;

  color: #6837E3;
  /* Espacio entre elementos */
  font-size: 16px;
}

.horizontal-list li:last-child {
  margin-right: 0;

}


.horizontal-list li::after {
  content: "•";
  margin-left: 10px;
  /* Espacio entre el enlace y el punto */
  color: #000;
  /* Color del punto */
}

.frame-container {
  height: 448px;
  /* justify-content: center; */
  padding: 10px;
  /* Espacio interno del marco */
  overflow: hidden;
  /* Oculta el scroll del marco */
  margin-top: 200px;
  position: fixed;
}


.card-scroll-container {
  height: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

.card-scroll-container::-webkit-scrollbar {
  width: 16px;
}

.card-scroll-container::-webkit-scrollbar-track {
  background: linear-gradient(163.82deg, rgba(189, 174, 197, 0.3) 1.33%, rgba(195, 88, 245, 0.164) 95.23%) !important;
  border-radius: 100px;
}

.card-scroll-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  border-radius: 100px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 10px;

}

.card {
  z-index: -3;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%) !important;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%) !important;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12) !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 8px !important;
  padding: 20px;
  margin-right: 2vw;
  justify-content: space-around;
  /* Separación entre las cards */

}

.card-text {
  font-size: 1rem;
}


























/*nosotroz*/
.nos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.nos-card {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  z-index: 0;
  padding: 2vw;
  height: fit-content;
  width: 60.57vw;
  min-width: min-content;
  border-radius: 8px;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}

.nos-text {
  padding: 2em;
  font-family: 'Almarai', sans-serif;
}

















/*CART*/

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;

}

.container-carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  height: fit-content;
  width: fit-content;

  background: linear-gradient(154.69deg, rgba(255, 255, 255, 0.72) -3.5%, rgba(255, 255, 255, 0.14) 100.5%);
  /* glass */

  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);

  border-radius: 8px 8px 8px 8px;

}

.carro-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.carro-titulo img {
  margin-left: 10px;
}

.carro-titulo h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;

  letter-spacing: 1.54469px;

  color: #000000;
}

.frame-items {
  align-self: center;
  border-radius: 0px;
  width: 51.49vw;
  height: 20vw;

  overflow: hidden;
  overflow: auto;

}

.total-precio {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.total-precio p {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 9px;
  letter-spacing: 0.0446889px;
  color: #6028FF;
}

.buttons-cart {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  height: 50px;
  width: 376px;

  border-radius: 25px;
  background: linear-gradient(104.73deg, rgba(96, 40, 255, 0.8) 16.35%, rgba(255, 40, 92, 0.408) 107.34%);
}

.concretar-pedido {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 4.544688701629639px;
  text-align: center;
  border: none;
  background: none;

}

.seguir-viendo {
  align-self: center;
  padding: 1rem;
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  line-height: 20px;
  text-align: right;
  letter-spacing: 3.04469px;

}





/*frame lista de productos*/
.frame-items {
  padding: 3rem;
  /* height: 8rem; */
}

.caja-lista {
  display: flex;
  padding: 1rem;
  /*   border-style: solid;
  border-color: red; */
}

.img-cart img {
  width: 77px;
  height: 71px;

}

.img-cart {
  border-style: solid;
  border-color: #6028FF;
}

.segunda-columna {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  /*   border-style: solid;
  border-color: darkgreen; */
  align-items: center;
}

.tercera-columna {
  display: flex;
  /*   border-style: solid;
  border-color: yellow; */
  align-items: center;
}


.mas-menos {
  display: flex;
  height: min-content;
  width: min-content;
  align-items: center;
}

.mas-menos button {
  width: 31px;
  height: 31px;
}























/* contacto */


.main-contactos {
  background-image: url('./img/fnc.svg');
  background-repeat: no-repeat;
  background-position-x: 10vh;
  background-position-y: 14vh;
  margin-top: 10vh;
}

.buttons-contacto a {
  text-decoration: none !important;
}

.contactos-container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.consulta-container {
  display: flex;
  padding: 3vw;
  height: fit-content;
  width: min-content;
  flex-wrap: wrap;
  flex-flow: wrap;
  border-radius: 8px;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 25%;
  z-index: 1;
}

.title-consulta {
  font-family: 'Fira Sans Condensed';
  color: #ff285ec1;
  flex-wrap: wrap;
  flex-flow: wrap;
  font-size: 2vw;
}

.texto-consulta {

  padding-top: 2em;
  flex-wrap: wrap;
  flex-flow: wrap;
  font-family: 'Almarai', sans-serif;
  padding-bottom: 3em;
  font-size: 1.6vw;
}

.link-consulta {
  background: linear-gradient(104.73deg, rgba(96, 40, 255, 0.8) 16.35%, rgba(255, 40, 92, 0.408) 107.34%);
  border-radius: 25px;
  height: 3vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.link-consulta:hover {
  cursor: pointer;
}

.button-consulta a:hover,
.button-consulta a:active,
.button-consulta a:focus {
  color: white;
}






















@media screen and (max-width: 1440px) {
  .container-cards {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 760px) {
  .background {
    height: 1807px;
    padding: 10px;
  }

  .navbar-s {
    height: 80px;
    justify-content: space-between;
    padding-left: 9.66%;
    padding-right: 9.66%;
    height: 89px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  .navbar-s .hamburguesa {
    display: block;
    left: 11.94%;
    right: 80.28%;

  }

  .logo-bolsa {
    width: 31px;
    height: 31px;
  }

  .navbar-buttons {
    display: none;
  }

  .logo {
    justify-content: center;
    width: 80px;
    height: 42px;
  }

  .img-logo-fnc {
    z-index: 1;
  }

  .dropdown-s {
    z-index: 5;
  }

  .dropdown-button {
    position: relative;
    z-index: 2;
    display: block;
    width: 300%;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: #000;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
    /* glass */
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  }

  .dropdown-button:hover {
    cursor: pointer;
  }

}