/* --gra: #6028FF, #FF285C; */
boton-principal:hover {
  color: #CB37E3;
}

/* .button {
    @include button-styles;
} */
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: inherit;
}
body a :hover :active :focus {
  text-decoration: none;
  color: inherit;
}

.body-image {
  /* z-index: -5; */
  position: relative;
  width: 100%;
  height: 530vh;
  /*  height: 3535px; */
  background-image: url(../img/fondo-index.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container-index {
  position: fixed;
  background-repeat: no-repeat;
  height: 25.375vw;
  width: 27.375vw;
  margin-left: 3%;
  margin-top: 10%;
  background-image: url(../img/fnc.svg);
  background-size: contain;
}

.nube-1 {
  position: absolute;
  width: 338px;
  height: 329px;
  left: 22%;
  top: 5%;
  background-image: url(../img/productos/nube-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-2 {
  height: 298px;
  width: 354px;
  position: absolute;
  top: 3%;
  left: 45%;
  background-image: url(../img/productos/nube-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nube-3 {
  height: 340px;
  width: 380px;
  position: absolute;
  right: 3%;
  top: 5%;
  background-image: url(../img/productos/nube-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-4 {
  width: 366px;
  height: 441.687px;
  position: absolute;
  right: 35%;
  top: 20%;
  background-image: url(../img/productos/nube-4.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-5 {
  width: 326.991px;
  height: 382.05px;
  position: absolute;
  right: 15%;
  top: 33%;
  background-image: url(../img/productos/nube-5.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-6 {
  width: 370.998px;
  height: 582.666px;
  position: absolute;
  right: 35%;
  top: 43%;
  background-image: url(../img/productos/nube-6.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-7 {
  width: 448px;
  height: 282px;
  position: absolute;
  right: 15%;
  top: 63%;
  background-image: url(../img/productos/nube-7.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-8 {
  width: 423.735px;
  height: 420.303px;
  position: absolute;
  right: 25%;
  top: 77%;
  background-image: url(../img/productos/nube-8.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-1:hover {
  background-image: url(../img/productos/nube-1-hover.svg);
  transition: all 0.5s;
}

.nube-2:hover {
  background-image: url(../img/productos/nube-2-hover.svg);
  /* transform: translate(1px); */
  transition: all 0.5s;
}

.nube-3:hover {
  background-image: url(../img/productos/nube-3-hover.svg);
  transition: all 0.5s;
}

.nube-4:hover {
  background-image: url(../img/productos/nube-4-hover.svg);
  transition: all 0.5s;
}

.nube-5:hover {
  background-image: url(../img/productos/nube-5-hover.svg);
  transition: all 0.5s;
}

.nube-6:hover {
  background-image: url(../img/productos/nube-6-hover.svg);
  transition: all 0.5s;
}

.nube-7:hover {
  background-image: url(../img/productos/nube-7-hover.svg);
  transition: all 0.5s;
}

.nube-8:hover {
  background-image: url(../img/productos/nube-8-hover.svg);
  transition: all 0.5s;
}

.navbar-s {
  display: flex;
  justify-content: space-between;
  padding-left: 9.66%;
  padding-right: 9.66%;
  height: 89px;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  mix-blend-mode: overlay;
  background-image: url(../img/noise-navbar.svg);
}
.navbar-s .navbar-buttons-s {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 24px;
  line-height: 32px;
  color: rgb(53, 49, 46);
}
.navbar-s #menu-toggle {
  display: none;
}
.navbar-s .hamburguesa {
  display: none;
}
.navbar-s .hamburguesa :hover {
  cursor: pointer;
}
.navbar-s .dropdown-s {
  display: none;
}
.navbar-s .dropdown-s .dropdown-button-1 {
  display: none;
  position: fixed;
}
.navbar-s .dropdown-s .dropdown-button-2 {
  display: none;
  position: fixed;
}
.navbar-s .dropdown-s .dropdown-button-3 {
  display: none;
  position: fixed;
}
.navbar-s .logo {
  max-width: 50%;
}
.navbar-s .logo :hover {
  cursor: pointer;
}
.navbar-s .icono-cart .logo-bolsa {
  max-width: 100%;
  max-height: 100%;
  color: #000000;
}
.navbar-s #boton-shop1 {
  color: rgb(255, 255, 255) !important;
}
.navbar-s #boton-nos1 {
  color: rgb(255, 255, 255) !important;
}
.navbar-s #boton-contacto1 {
  color: rgb(255, 255, 255) !important;
}
.navbar-s #boton-eventos1 {
  color: rgb(255, 255, 255) !important;
}
.navbar-s #boton-shop2 {
  color: var(rgba(96, 40, 255, 0.8)) !important;
}

#boton-nos2 {
  color: var(rgba(96, 40, 255, 0.8)) !important;
}

.navbar-s .navbar-buttons-s a:hover {
  color: black !important;
  text-decoration-line: none;
}

/* --gra: #6028FF, #FF285C; */
boton-principal:hover {
  color: #CB37E3;
}

/* .button {
    @include button-styles;
} */
.body-index {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.body-shop {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(../img/fondo-shop.svg);
}

.body-nos {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(../img/fondo-nosotros.svg);
}

.body-contacto {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(../img/fondo-contacto.svg);
}

.body-carrito {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(../img/fondo-nosotros.svg);
}

.body-detalles {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(../img/fondo-detalles.svg);
}

footer .footer-container {
  display: flex;
  justify-content: space-around;
  /*  position: fixed;
  min-width: 100%; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 89px;
  mix-blend-mode: overlay;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  opacity: 0.8;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  flex-wrap: wrap;
}
footer .footer-container p {
  align-self: center;
  font-size: 16px;
  position: absolute;
  left: 90%;
  letter-spacing: 0.135em;
  color: rgba(101, 100, 100, 0.925);
}
footer .footer-container .links-footer-desktop {
  align-items: center;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
}
footer .footer-container .links-footer-mobile {
  display: none !important;
  align-items: center;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
}

.body-nos .contenido-body main .nos-fixed .nos-container {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  /* flex-wrap: wrap;

  align-items: center;
   */
  /* margin-left: 20%; */
  /*   */
}
.body-nos .contenido-body main .nos-fixed .nos-container .nos-card {
  z-index: 0;
  padding: 2vw;
  height: fit-content;
  width: 57.57vw;
  min-width: min-content;
  border-radius: 8px;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  position: fixed;
}
.body-nos .contenido-body main .nos-fixed .nos-container .nos-card .nos .nos-text {
  padding: 2em;
  font-family: "Almarai", sans-serif;
}

.body-detalles .main-detalles {
  display: flex;
  justify-content: center;
  align-content: center;
}
.body-detalles .main-detalles .eventos {
  margin-top: 4.5rem;
  width: 70%;
  position: fixed;
  backdrop-filter: blur(5px);
  /* 
             iframe {

                 display: none;
             }
  */
}
.body-detalles .main-detalles .eventos .eventos-style {
  justify-items: center;
  /*   width: 70%;
  height: 70%;
   */
  /*   position: fixed; */
}

:root {
  --azul: #1C2D46;
  --celeste: #45ACB4;
  --ladrillo: #EA5534;
  --amarillo: #EDDA6A;
  --blanco: #FFFFFF;
  --fondoForm: rgba(255, 255, 255, 0.4);
  --violeta: rgba(96, 40, 255, 0.80);
  --rosa: #CB37E3;
}

.form-contenedor {
  position: fixed;
  margin-top: 5rem;
}

.box-title-contact img {
  width: 80px;
}

.box-p-contact p {
  width: 100%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: var(--azul);
  margin: 40px 0 0 0;
}

.box-form {
  /*   position: fixed; */
  border-radius: 12px;
  padding: 3rem;
  width: 90% !important;
  height: fit-content !important;
  min-width: 350px;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  margin-top: 10%;
  justify-content: center;
}

.box-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-level-one {
  gap: 20px;
}

.box-son-level-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box-son-level-one label {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.box-son-level-one input {
  width: 235px;
  height: 49px;
  padding: 10px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-one select {
  width: 235px;
  height: 49px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0 0 0;
}

.box-son-level-two label {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.box-son-level-two textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-two input {
  width: 147px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 40, 255, 0.8);
  color: #fff;
  border: 1px solid rgba(96, 40, 255, 0.8);
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s;
  margin: 40px 0 0 0;
}

.box-son-level-two input:hover {
  background-color: var(--rosa);
  border-color: var(--rosa);
}

.main-contacto {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .navbar-s {
    height: 80px;
    justify-content: space-between;
    padding-left: 9.66%;
    padding-right: 9.66%;
    height: 89px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar-s .navbar-buttons-s {
    display: none;
  }
  .navbar-s .hamburguesa {
    display: block;
    left: 11.94%;
    right: 80.28%;
  }
  .navbar-s .dropdown-s {
    z-index: 5;
    position: fixed;
    margin-top: 90px;
    margin-left: 0px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6117647059);
    border: 1px solid rgba(13, 2, 175, 0);
    width: 100%;
  }
  .navbar-s .dropdown-s .dropdown-button-1 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 90px;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /*  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-2 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 8.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-3 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 11.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /*   border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-4 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 14.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-1:hover,
  .navbar-s .dropdown-s .dropdown-button-2:hover,
  .navbar-s .dropdown-s .dropdown-button-3:hover,
  .navbar-s .dropdown-s .dropdown-button-4:hover {
    cursor: pointer;
    background: rgb(151, 119, 238);
    color: white;
  }
  .navbar-s #menu-toggle:checked ~ .dropdown-s {
    display: block;
  }
  .navbar-s .logo-bolsa {
    width: 31px;
    height: 31px;
  }
  .navbar-s .logo {
    justify-content: center;
    width: 80px;
    height: 42px;
  }
  .main-container-index {
    height: 29.375vw;
    width: 35vw;
    margin-left: 5%;
    margin-top: 28%;
    background-size: contain;
  }
  .nube-1 {
    position: absolute;
    width: 207px;
    height: 194px;
    left: 7%;
    top: 7%;
    background-image: url(../img/productos/nube-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nube-2 {
    height: 191px;
    width: 230px;
    top: 2%;
    left: 35%;
  }
  .nube-3 {
    height: 229px;
    width: 251px;
    right: 5%;
    top: 12%;
  }
  .nube-4 {
    width: 266px;
    height: 341.687px;
    background-image: url(../img/productos/nube-4-hover.svg);
    right: 24%;
    top: 20%;
  }
  .nube-5 {
    width: 226.991px;
    height: 282.05px;
    right: 20%;
    top: 32%;
  }
  .nube-6 {
    width: 270.998px;
    height: 482.666px;
    right: 30%;
    top: 40%;
  }
  .nube-7 {
    width: 348px;
    height: 182px;
    right: 8%;
    top: 60%;
  }
  .nube-8 {
    width: 323.735px;
    height: 320.303px;
    right: 23%;
    top: 70%;
  }
  .body-detalles .main-detalles .eventos {
    margin-top: 8rem;
    width: 90%;
  }
  footer .footer-container p {
    align-self: flex-end;
    text-align: right;
    font-size: 12px;
    left: 80%;
  }
  footer .footer-container .links-footer-desktop {
    display: none !important;
  }
  footer .footer-container .links-footer-mobile {
    display: flex !important;
  }
  .frame-container {
    height: 617px;
  }
  .numeroCarrito {
    margin-left: 28px;
  }
}
/* .dropdown-s translate {
        transform: translateX(500px, 50px)
    }

    ; */
@media only screen and (min-width: 501px) and (max-width: 810px) {
  .nos-container .nos-card {
    width: 50.57vw;
  }
  .w-100 {
    width: 90% !important;
  }
  .navbar-s {
    height: 80px;
    justify-content: space-between;
    padding-left: 9.66%;
    padding-right: 9.66%;
    height: 89px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar-s .navbar-buttons-s {
    display: none;
  }
  .navbar-s .hamburguesa {
    display: block;
    left: 11.94%;
    right: 80.28%;
  }
  .navbar-s .dropdown-s {
    z-index: 5;
    position: fixed;
    margin-top: 90px;
    margin-left: 0px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6117647059);
    border: 1px solid rgba(13, 2, 175, 0);
    width: 100%;
  }
  .navbar-s .dropdown-s .dropdown-button-1 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 90px;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-2 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 8.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-3 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 11.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /*   border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-4 {
    position: fixed;
    z-index: 2;
    display: block;
    width: 100%;
    height: 3rem;
    top: 14.62rem;
    left: 0%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    color: rgba(96, 40, 255, 0.8);
    /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    mix-blend-mode: overlay; */
  }
  .navbar-s .dropdown-s .dropdown-button-1:hover,
  .navbar-s .dropdown-s .dropdown-button-2:hover,
  .navbar-s .dropdown-s .dropdown-button-3:hover,
  .navbar-s .dropdown-s .dropdown-button-4:hover {
    cursor: pointer;
    background: rgb(151, 119, 238);
    color: white;
  }
  .navbar-s #menu-toggle:checked ~ .dropdown-s {
    display: block;
  }
  .navbar-s .logo-bolsa {
    width: 31px;
    height: 31px;
  }
  .navbar-s .logo {
    justify-content: center;
    width: 80px;
    height: 42px;
  }
  footer .footer-container p {
    left: 85%;
  }
  footer .footer-container .links-footer-desktop {
    display: none !important;
  }
  footer .footer-container .links-footer-mobile {
    display: flex !important;
  }
  .main-container-index {
    height: 29.375vw;
    width: 35vw;
    margin-left: 5%;
    margin-top: 18%;
    background-size: contain;
  }
  .nube-1 {
    position: absolute;
    width: 273px;
    height: 259px;
    left: 4%;
    top: 5%;
    background-image: url(../img/productos/nube-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nube-2 {
    /* display: flex;
    flex-wrap: wrap; */
    height: 26vw;
    width: 30vw;
    position: absolute;
    top: 3%;
    left: 40%;
    background-image: url(../img/productos/nube-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nube-3 {
    height: 192px;
    width: 225px;
    position: absolute;
    right: 8%;
    top: 7%;
    background-image: url(../img/productos/nube-3.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-contacto .card-contacto form .form-group button {
    font-size: 10px;
  }
  .body-detalles .main-detalles .eventos {
    margin-top: 6rem;
    width: 90%;
  }
  .frame-container {
    height: 617px;
  }
  .numeroCarrito {
    margin-left: 32px;
  }
}
@media only screen and (min-width: 811px) and (max-width: 1024px) {
  .main-container-index {
    margin-left: 5%;
    margin-top: 20%;
    background-size: contain;
  }
  .nube-1 {
    width: 339px;
    height: 328px;
    left: 7%;
    top: 10%;
  }
  /*

      .nube-2 {

          height: 26vw;
          width: 31vw;
          position: absolute;
          top: 3%;
          left: 40%;
          background-image: url(../img/productos/nube-2.svg);
          background-size: cover;
          background-repeat: no-repeat;

      }


  */
  .nube-3 {
    height: 239px;
    width: 280px;
    right: 5%;
    top: 10%;
  }
  .main-contacto .card-contacto form .form-group button {
    font-size: 10px;
  }
  .body-detalles .main-detalles .eventos {
    margin-top: 5rem;
    width: 90%;
  }
  .frame-container {
    height: 839px;
  }
  .numeroCarrito {
    margin-left: 32px;
  }
}
@media only screen and (min-width: 1025px) {
  .box-form {
    width: 120% !important;
  }
  .eventos iframe {
    display: none;
  }
  .main-container-index {
    height: 25vw;
    width: 26vw;
    margin-left: 5%;
    margin-top: 9%;
    background-size: contain;
  }
  .nube-1 {
    position: absolute;
    left: 15%;
    top: 8%;
    background-image: url(../img/productos/nube-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*

     .nube-2 {

         height: 23vw;
         width: 23vw;
         position: absolute;
         top: 3%;
         left: 50%;
         background-image: url(../img/productos/nube-2.svg);
         background-size: contain;
         background-repeat: no-repeat;

     }
  */
  .nube-3 {
    right: 3%;
    top: 9%;
  }
  .main-contacto .card-contacto form .form-group button {
    font-size: 10px;
  }
  /* .body-detalles {
         .main-detalles {

             .eventos {

                 margin-top: 4.5rem;

                 width: 70%;


             }
         }
     }

  */
}
main {
  height: 200vh;
  width: auto;
}

/* @media screen and (max-width: 1440px) {
    .container-cards {
        margin-left: 10vw;
        margin-right: 10vw;
    }
} */

/*# sourceMappingURL=style.css.map */
