//lo que hay que ahcer ahora es pasar todo el css copia a scss en esta rama



//imports
@import "./layout/index";
@import "./base/reset";
@import "./layout/header";
@import "./layout/bodyes";
@import "./layout/footer";
@import "./layout/shop";
@import "./layout/nosotros";
@import "./layout/carrito";
@import "./layout/detalles";
@import "./layout/_media760.scss";










main {
    height: 200vh;
    width: auto;
}

.main-index {
    .main-container {
        position: fixed;
        background-repeat: no-repeat;
        margin-left: 10%;
        margin-top: 30%;

    }
}



//footer







//SHOP




//NOSOTROS



//CONTACTO





//CARRITO





//detalles 




@media screen and (max-width: 1440px) {
    .container-cards {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}