//variables y mixins
@import "./utilities/mixins-variables";
//base
@import "./base/reset";
//imports
@import "./layout/index";
//layouts
@import "./layout/header";
@import "./layout/bodyes";
@import "./layout/footer";

@import "./layout/nosotros";

@import "./layout/eventos";
@import "./layout/contacto";
@import "./layout/mediamax500";
@import "./layout/media501";
@import "./layout/media811";
@import "./layout/media1025";

















/* 
main {
    height: 200vh;
    width: auto;
}
 */






/* @media screen and (max-width: 1440px) {
    .container-cards {
        margin-left: 10vw;
        margin-right: 10vw;
    }
} */