* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 9.66%;
  padding-right: 9.66%;
  height: 89px;
  align-items: center;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /*background-image: url(img/noise-navbar.svg);*/
}

.hamburguesa {
  display: none;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.58vw;
  line-height: 32px;
  color: #000000;
  mix-blend-mode: overlay;
}

#menu-toggle:checked~.fondo .img-logo-fnc {
  display: none;
}

.logo-bolsa {
  color: #000000;
  mix-blend-mode: overlay;
  max-width: 30%;
}

.logo {
  max-width: 50%;
}

/* Colocar el rectángulo detrás de los demás elementos */
.container {
  position: relative;
  width: 100%;
  height: 3350px;
  overflow: auto;
}

.fnc {
  left: 10px;
  top: 10px;
  position: fixed;
}

#menu-toggle {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  justify-content: center;
  background-color: #eb010100;
  border: 1px solid #0d02af00;
}

.dropdown-button {
  display: none;
}


.navbar #menu-toggle:checked~.dropdown {
  display: block;
}


.img-logo-fnc {
  position: fixed;
  top: 140px;
  left: 50px;
  width: 40%;
  height: auto;
}

.fondo {
  top: 0;
  left: 0;
  min-height: max-content;
  z-index: -4;
}

.img-fondo {
  width: 100%;
  margin: 0 auto -50px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: 50px;
  backdrop-filter: blur(20px);
  opacity: 0.8;
}

.links-footer {
  align-items: center;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.58vw;
}



@media only screen and (max-width: 760px) {
  .background {
    height: 1807px;
    padding: 10px;
  }


  /*  .container {
    height: 1807px;
  } */

  .navbar {
    height: 80px;
    justify-content: space-between;
    padding-left: 9.66%;
    padding-right: 9.66%;
    height: 89px;
    align-items: center;
    z-index: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar .hamburguesa {
    display: block;
    left: 11.94%;
    right: 80.28%;

  }

  .logo-bolsa {
    width: 31px;
    height: 31px;

  }

  .navbar-buttons {
    display: none;
  }

  .logo {
    justify-content: center;
    width: 80px;
    height: 42px;
  }


  .dropdown-button {
    z-index: 2;
    display: block;
    width: 300%;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;

    color: #000;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
    background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
    /* glass */
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);

  }




}