* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 9.66%;
  padding-right: 9.66%;
  height: 89px;
  align-items: center;
  z-index: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /*background-image: url(img/noise-navbar.svg);*/
}

.hamburguesa {
  display: none;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 32px;
  color: #000000;
  mix-blend-mode: overlay;
}

.logo-bolsa {
  color: #000000;
  mix-blend-mode: overlay;
}

.logo {
  padding-right: 20%;
}

/* Colocar el rectángulo detrás de los demás elementos */
.container {
  position: relative;
  width: 100%;
  height: 3350px;
  overflow: auto;
}

.fnc {
  /* width: 100%;
  height: 100%; */
  left: 10px;
  top: 10px;
  position: fixed;
}



/*.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(153.13deg, #B5C5BC 16.81%, #E8DEC0 49.36%, #DCBC9C 79.94%);
  border-radius: 0;
  z-index: -1;*/

#menu-toggle {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eb010100;
  border: 1px solid #0d02af00;
}

.dropdown-button {
  display: none;
}


.navbar #menu-toggle:checked~.dropdown {
  display: block;
}

.img-logo-fnc {
  position: fixed;
  top: 140px;
  left: 50px;
  width: 40%;
  height: auto;
}

.fondo {
  top: 0;
  left: 0;
  min-height: max-content;
  z-index: -4;
}

.img-fondo {
  width: 100%;
}

@media (max-width: 768px) {
  .background {
    height: 1807px;
    padding: 10px;
  }

  /*  .container {
    height: 1807px;
  } */

  .navbar {
    height: 80px;
  }

  .navbar .hamburguesa {
    display: block;
  }

  .navbar-buttons {
    display: none;
  }

  .logo {
    padding-left: 40%;
  }

  .dropdown-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000;
  }


}