$glass-background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
$box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
$backdrop-filter: blur(20px);

@mixin body-estilo {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-position: center top;
    background-size: cover;
}