@import "../utilities/mixins-variables";

.body-index {
    display: grid;
    grid-template-rows: auto 1fr auto;



}

.body-index2 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-position: center top;
    background-size: cover;
    background-image: url(../img/fondo-index.svg);
    height: 530.000vh;


    position: relative;
    width: 100%;


}


.body-shop {
    @include body-estilo;
    background-image: url(../img/fondo-shop.svg);

}

.body-nos {
    @include body-estilo;
    background-image: url(../img/fondo-nosotros.svg);

}

.body-contacto {
    @include body-estilo;
    background-image: url(../img/fondo-contacto.svg);

}

.body-carrito {
    @include body-estilo;
    background-image: url(../img/fondo-nosotros.svg);

}

.body-detalles {
    @include body-estilo;
    background-image: url(../img/fondo-detalles.svg);

}