.body-carrito {


    .main-container-cart {
        display: flex;
        justify-content: center;
        margin-top: 150px;

        .container-carrito {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            padding: 1rem;
            height: fit-content;

            width: fit-content;

            background: linear-gradient(154.69deg, rgba(255, 255, 255, 0.72) -3.5%, rgba(255, 255, 255, 0.14) 100.5%);
            /* glass */

            box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(20px);

            border-radius: 8px 8px 8px 8px;

            .carro-titulo {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-left: 10px;
                }

                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    font-family: 'Exo', sans-serif;
                    font-style: normal;
                    margin-right: auto;
                    margin-left: auto;

                    letter-spacing: 1.54469px;

                    color: #000000;
                }
            }

            .frame-items {
                align-self: center;
                border-radius: 0px;
                width: 51.49vw;
                height: 20vw;
                min-width: 120px;

                padding: 3rem;
                /* height: 8rem; */

                overflow: hidden;
                overflow: auto;
            }

            .caja-lista {
                display: flex;
                padding: 1rem;
                min-width: 333px;

                /*   border-style: solid;
    border-color: red; */
                .img-cart {
                    border-style: solid;
                    border-color: #6028FF;

                    img {
                        width: 77px;
                        height: 71px;

                    }

                }

                .segunda-columna {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between;
                    /*   border-style: solid;
        border-color: darkgreen; */
                    align-items: center;

                    .mas-menos {
                        display: flex;
                        height: min-content;
                        width: min-content;
                        align-items: center;

                        button {
                            width: 31px;
                            height: 31px;
                        }
                    }
                }

                .tercera-columna {
                    display: flex;
                    /*   border-style: solid;
        border-color: yellow; */
                    align-items: center;
                }
            }

            .total-precio {
                display: flex;
                justify-content: space-between;
                padding: 1rem;

                p {
                    font-family: 'Exo', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 9px;
                    letter-spacing: 0.0446889px;
                    color: #6028FF;
                }
            }

            .buttons-cart {
                display: flex;
                align-self: center;
                justify-self: center;
                justify-content: center;
                height: 50px;
                width: 376px;

                border-radius: 25px;
                background: linear-gradient(104.73deg, rgba(96, 40, 255, 0.8) 16.35%, rgba(255, 40, 92, 0.408) 107.34%);

                .concretar-pedido {
                    font-family: 'Exo', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 4.544688701629639px;
                    text-align: center;
                    border: none;
                    background: none;
                }
            }

            .seguir-viendo {
                align-self: center;
                padding: 1rem;
                font-family: 'Exo', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;

                line-height: 20px;
                text-align: right;
                letter-spacing: 3.04469px;
            }
        }
    }
}