:root {
    --azul: #1C2D46;
    --celeste: #45ACB4;
    --ladrillo: #EA5534;
    --amarillo: #EDDA6A;
    --blanco: #FFFFFF;
    --fondoForm: rgba(255, 255, 255, 0.4);
    --violeta: rgba(96, 40, 255, 0.80);
    --rosa: #CB37E3;

}


.form-contenedor {
    position: fixed;
    margin-top: 4rem;
}

.box-title-contact img {
    width: 80px;
}

.box-p-contact p {
    width: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: var(--azul);
    margin: 30px 0 0 0;
}

.box-form {

    /*   position: fixed; */
    border-radius: 12px;
    padding: 3rem;
    width: 90% !important;
    height: fit-content !important;
    min-width: 350px;
    background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
    /* glass */

    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    margin-top: 10%;
    justify-content: center;
}

.box-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-level-one {
    gap: 20px;
}

.box-son-level-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box-son-level-one label {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.box-son-level-one input {
    width: 235px;
    height: 49px;
    padding: 10px;
    background-color: var(--fondoForm);
    border: 2px solid var(--violeta);
    border-radius: 12px;
}

.box-son-level-one select {
    width: 235px;
    height: 49px;
    background-color: var(--fondoForm);
    border: 2px solid var(--violeta);
    border-radius: 12px;
}

.box-son-level-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0 0 0;
}

.box-son-level-two label {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.box-son-level-two textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--fondoForm);
    border: 2px solid var(--violeta);
    border-radius: 12px;
}

.box-son-level-two input {
    @include boton-principal;
    margin: 40px 0 0 0;
}

.box-son-level-two input:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
}

.main-contacto {
    display: flex;
    justify-content: center;



}