.body-detalles {




    .main-detalles {
        display: flex;
        justify-content: center;
        align-content: center;

        .eventos {

            margin-top: 4.5rem;

            width: 70%;
            position: fixed;

            backdrop-filter: blur(5px);
            /* 
            iframe {

                display: none;
            }
 */


            .eventos-style {
                justify-items: center;

                /*   width: 70%;
            height: 70%;
             */
                /*   position: fixed; */




            }




        }
    }
}