footer {
    .footer-container {
        display: flex;
        justify-content: space-around;
        /*  position: fixed;
    min-width: 100%; */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 89px;
        mix-blend-mode: overlay;
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
        background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
        /* glass */
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(20px);
        opacity: 0.8;

        p {
            position: absolute;
            left: 90%;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.135em;

            color: rgba(101, 100, 100, 0.925);

        }

        .links-footer {
            align-items: center;
            min-width: 70%;
            display: flex;
            justify-content: space-around;
            font-family: 'Exo', sans-serif;
            font-style: italic;
            font-weight: 700;
            font-size: 24px;
        }
    }
}