@media only screen and (min-width:501px) and (max-width: 810px) {















    .navbar-s {
        height: 80px;
        justify-content: space-between;
        padding-left: 9.66%;
        padding-right: 9.66%;
        height: 89px;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;

        .navbar-buttons-s {
            display: none;
        }

        .hamburguesa {
            display: block;
            left: 11.94%;
            right: 80.28%;

        }

        .dropdown-s {
            z-index: 5;
            position: fixed;
            margin-top: 90px;
            margin-left: 0px;
            justify-content: center;
            background-color: #ffffff9c;
            border: 1px solid #0d02af00;

            width: 100%;

            .dropdown-button-1 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 90px;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: #000;
                /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
              
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button-2 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 8.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: #000;
                /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
            
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button-3 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 11.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: #000;
                /*   border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
                
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button-4 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 14.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: #000;
                /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
                
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button:hover {
                cursor: pointer;
            }
        }

        #menu-toggle:checked~.dropdown-s {
            display: block;


        }



        .logo-bolsa {
            width: 31px;
            height: 31px;
        }



        .logo {
            justify-content: center;
            width: 80px;
            height: 42px;
        }
    }













    .main-container-index {

        height: 29.375vw;
        width: 35vw;
        margin-left: 5%;
        margin-top: 18%;
        background-size: contain;


    }











    .nube-1 {
        position: absolute;
        width: 273px;
        height: 259px;
        left: 4%;
        top: 5%;
        background-image: url(../img/productos/nube-1.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }




    .nube-2 {
        /* display: flex;
        flex-wrap: wrap; */
        height: 26vw;
        width: 30vw;
        position: absolute;
        top: 3%;
        left: 40%;
        background-image: url(../img/productos/nube-2.svg);
        background-size: contain;
        background-repeat: no-repeat;

    }



    .nube-3 {
        height: 192px;
        width: 225px;
        position: absolute;
        right: 8%;
        top: 7%;
        background-image: url(../img/productos/nube-3.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-contacto {

        .card-contacto {

            form {

                .form-group {

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }




    .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 6rem;

                width: 90%;


            }
        }
    }













}