@media only screen and (min-width:1025px) {




    .main-container-index {

        height: 25vw;
        width: 26vw;
        margin-left: 5%;
        margin-top: 9%;
        background-size: contain;


    }






    .nube-1 {
        position: absolute;
        width: 25.25vw;
        height: 25.1vw;
        left: 22%;
        top: 6%;
        background-image: url(../img/productos/nube-1.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }


    .nube-2 {

        height: 23vw;
        width: 23vw;
        position: absolute;
        top: 3%;
        left: 50%;
        background-image: url(../img/productos/nube-2.svg);
        background-size: contain;
        background-repeat: no-repeat;

    }

    .nube-3 {
        height: 21.375vw;
        width: 22.375vw;
        position: absolute;
        right: 3%;
        top: 9%;
        background-image: url(../img/productos/nube-3.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-contacto {

        .card-contacto {

            form {

                .form-group {

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }


    /* .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 4.5rem;

                width: 70%;


            }
        }
    }

 */


}