@media only screen and (max-width:500px) {



    .navbar-s {
        height: 80px;
        justify-content: space-between;
        padding-left: 9.66%;
        padding-right: 9.66%;
        height: 89px;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;

        .navbar-buttons-s {
            display: none;
        }

        .hamburguesa {
            display: block;
            left: 11.94%;
            right: 80.28%;

        }

        .dropdown-s {
            z-index: 5;
            position: fixed;
            margin-top: 90px;
            margin-left: 0px;
            justify-content: center;
            background-color: #ffffff9c;
            border: 1px solid #0d02af00;

            width: 100%;


            .dropdown-button-1 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 90px;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: rgba(96, 40, 255, 0.80);
                /*  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }


            .dropdown-button-2 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 8.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: rgba(96, 40, 255, 0.80);
                /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
                
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button-3 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 11.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: rgba(96, 40, 255, 0.80);
                /*   border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
               
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */


            }

            .dropdown-button-4 {

                position: fixed;
                z-index: 2;
                display: block;
                width: 100%;
                height: 3rem;
                top: 14.62rem;
                left: 0%;
                text-align: center;
                border: none;
                border-bottom: 1px solid #ddd;
                font-family: 'Exo', sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 1rem;
                line-height: 32px;
                color: rgba(96, 40, 255, 0.80);
                /* border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
                background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
                
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
                backdrop-filter: blur(20px);
                mix-blend-mode: overlay; */
            }

            .dropdown-button-1:hover,
            .dropdown-button-2:hover,
            .dropdown-button-3:hover,
            .dropdown-button-4:hover {
                cursor: pointer;
                background: rgb(151, 119, 238);
                color: white;


            }
        }

        #menu-toggle:checked~.dropdown-s {
            display: block;


        }








        .logo-bolsa {
            width: 31px;
            height: 31px;
        }



        .logo {
            justify-content: center;
            width: 80px;
            height: 42px;
        }
    }





    .main-container-index {

        height: 29.375vw;
        width: 35vw;
        margin-left: 5%;
        margin-top: 28%;
        background-size: contain;


    }



    .nube-1 {
        position: absolute;
        width: 207px;
        height: 194px;
        left: 7%;
        top: 7%;
        background-image: url(../img/productos/nube-1.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }


    .nube-2 {

        height: 191px;
        width: 230px;
        top: 2%;
        left: 35%;


    }



    .nube-3 {
        height: 229px;
        width: 251px;
        right: 5%;
        top: 12%;

    }

    .nube-4 {
        width: 266px;
        height: 341.687px;
        background-image: url(../img/productos/nube-4-hover.svg);
        right: 24%;
        top: 20%;


    }


    .nube-5 {
        width: 226.991px;
        height: 282.05px;
        right: 20%;
        top: 32%;


    }

    .nube-6 {
        width: 270.998px;
        height: 482.666px;
        right: 30%;
        top: 40%;
    }

    .nube-7 {
        width: 348px;
        height: 182px;

        right: 8%;
        top: 60%;
    }

    .nube-8 {
        width: 323.735px;
        height: 320.303px;
        right: 23%;
        top: 70%;
    }



    .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 8rem;

                width: 90%;


            }
        }
    }

    footer {

        .footer-container {

            p {
                align-self: flex-end;
                text-align: right;
                font-size: 12px;
                left: 80%;
            }

            .links-footer-desktop {
                display: none !important;
            }

            .links-footer-mobile {
                display: flex !important;
            }
        }
    }




    .frame-container {
        height: 617px;
    }


    .numeroCarrito {
        margin-left: 28px;
    }


}

/* .dropdown-s translate {
        transform: translateX(500px, 50px)
    }

    ; */