@media only screen and (min-width: 811px) and (max-width: 1024px) {




    .box-p-contact p {

        margin: 40px 0 0 0;
    }


    .container-index {


        margin-left: 5%;
        margin-top: 10%;
        background-size: contain;


    }







    .nube-1 {

        width: 339px;
        height: 328px;
        left: 7%;
        top: 7%;

    }



    .nube-2 {

        height: 26vw;
        width: 31vw;
        position: absolute;
        top: 3%;
        left: 40%;
        background-size: cover;
        background-repeat: no-repeat;

    }



    .nube-3 {
        height: 239px;
        width: 280px;

        right: 5%;
        top: 8%;

    }

    .nube-4 {
        width: 266px;
        height: 341.687px;

        right: 25%;
        top: 20%;


    }

    .nube-5 {
        width: 300.991px;
        height: 356.05px;

        right: 15%;
        top: 33%;


    }


    .nube-6 {
        width: 270.998px;
        height: 482.666px;

        right: 35%;
        top: 43%;


    }

    .nube-7 {
        width: 348px;
        height: 182px;

        right: 7%;
        top: 63%;


    }

    .nube-8 {
        width: 323.735px;
        height: 320.303px;

        right: 25%;
        top: 77%;


    }




    .main-contacto {

        .card-contacto {

            form {

                .form-group {

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }



    .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 5rem;

                width: 90%;


            }
        }
    }


    .frame-container {
        height: 839px;
    }

    .numeroCarrito {
        margin-left: 32px;
    }

    .navbar-s {


        .logo {
            height: 42px;
            width: 85px;
        }

        .navbar-buttons-s {
            font-size: 16px;
        }
    }

    footer {

        .footer-container {
            font-size: 16px;
        }
    }
}