@media only screen and (min-width:1025px) {


    .box-form {

        width: 120% !important;
    }

    .eventos {



        iframe {

            display: none;
        }
    }


    .container-index {

        height: 25vw;
        width: 26vw;
        margin-left: 5%;
        margin-top: 9%;
        background-size: contain;


    }






    .nube-1 {


        left: 15%;
        top: 8%;


    }

    /*

    .nube-2 {

        height: 23vw;
        width: 23vw;
        position: absolute;
        top: 3%;
        left: 50%;
        background-image: url(../img/productos/nube-2.svg);
        background-size: contain;
        background-repeat: no-repeat;

    }
 */
    .nube-3 {


        right: 3%;
        top: 9%;

    }

    .main-contacto {

        .card-contacto {

            form {

                .form-group {

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }


    /* .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 4.5rem;

                width: 70%;


            }
        }
    }

 */


}