@media only screen and (min-width: 811px) and (max-width: 1024px) {



    .container-index {


        margin-left: 5%;
        margin-top: 20%;
        background-size: contain;


    }







    .nube-1 {

        width: 339px;
        height: 328px;
        left: 7%;
        top: 10%;

    }



    .nube-2 {

        height: 26vw;
        width: 31vw;
        position: absolute;
        top: 3%;
        left: 40%;
        background-size: cover;
        background-repeat: no-repeat;

    }



    .nube-3 {
        height: 239px;
        width: 280px;

        right: 5%;
        top: 10%;

    }




    .main-contacto {

        .card-contacto {

            form {

                .form-group {

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }



    .body-detalles {
        .main-detalles {

            .eventos {

                margin-top: 5rem;

                width: 90%;


            }
        }
    }


    .frame-container {
        height: 839px;
    }

    .numeroCarrito {
        margin-left: 32px;
    }
}