.body-shop {
    .contenido-body {
        .container-shop {
            .horizontal-list {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                position: fixed;
                width: 70%;
                /*  width: 742px;
    height: 16px; */
                /*  left: 157px; */
                margin-left: 13%;
                margin-top: 140px;
                gap: 25px;
                justify-content: center;

                li {
                    line-height: 0.1;
                    margin-right: 10px;
                    letter-spacing: 0.145em;

                    color: #6837E3;
                    /* Espacio entre elementos */
                    font-size: 16px;

                    :last-child {
                        margin-right: 0;
                    }

                    ::after {
                        content: "•";
                        margin-left: 10px;
                        /* Espacio entre el enlace y el punto */
                        color: #000;
                        /* Color del punto */
                    }
                }
            }

            .frame-container {
                height: 448px;
                /* justify-content: center; */
                padding: 10px;
                /* Espacio interno del marco */
                overflow: hidden;
                /* Oculta el scroll del marco */
                margin-top: 200px;
                position: fixed;

                .card-scroll-container {
                    height: 100%;
                    overflow: auto;
                    padding-bottom: 20px;



                    .container-cards {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2em;
                        justify-content: center;
                        margin-top: 10px;

                        .card {
                            z-index: -3;
                            background: $glass-background !important;
                            border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%) !important;
                            box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12) !important;
                            backdrop-filter: blur(20px) !important;
                            border-radius: 8px !important;
                            padding: 20px;
                            margin-right: 2vw;
                            justify-content: space-around;

                            /* Separación entre las cards */
                            .card-text {
                                font-size: 1rem;
                            }


                        }

                    }
                }
            }
        }
    }
}

.card-scroll-container::-webkit-scrollbar {
    width: 16px;
}

.card-scroll-container::-webkit-scrollbar-track {
    background: linear-gradient(163.82deg, rgba(189, 174, 197, 0.3) 1.33%, rgba(195, 88, 245, 0.164) 95.23%) !important;
    border-radius: 100px;
}

.card-scroll-container::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 100px;
}